:root {
  --primary-hue: 223;
  --secondary-hue: 300;
  --neutral-hue: 220;
  --accent-hue: 100;
  --text-primary-hue: 0;
  --text-invert-hue: 0;

  --bg-alpha: 1;
  --text-alpha: 1;

  --color-bg-primary-light: var(--primary-hue), 55%, 45%;
  --color-bg-primary: var(--primary-hue), 69%, 25%;
  --color-bg-primary-dark: var(--primary-hue), 63%, 25%;

  --color-bg-secondary-light: var(--secondary-hue), 100%, 100%;
  --color-bg-secondary: var(--secondary-hue), 100%, 50%;
  --color-bg-secondary-dark: var(--secondary-hue), 100%, 30%;

  --color-bg-neutral-light: var(--neutral-hue), 30%, 100%;
  --color-bg-neutral: var(--neutral-hue), 30%, 94%;
  --color-bg-neutral-dark: var(--neutral-hue), 100%, 30%;

  --color-bg-accent-light: var(--accent-hue), 100%, 100%;
  --color-bg-accent: var(--accent-hue), 100%, 50%;
  --color-bg-accent-dark: var(--accent-hue), 100%, 30%;

  --color-bg-banner: 18, 100%, 50%;
  --color-bg-banner-secondary: 24, 100%, 65%;

  --color-bg-white: 0, 0%, 100%;

  --color-text-primary: var(--text-primary-hue), 0%, 0%;
  --color-text-invert: var(--text-invert-hue), 100%, 100%;

  --color-star: 50, 100%, 50%;

  --font-family-body: "Roboto", sans-serif;
  --font-family-header: "Roboto", sans-serif;
  --font-family-special: "Source Sans 3", sans-serif;

  --font-2xs: 75%;
  --font-xs: 85%;
  --font-sm: 95%;
  --font-md: 100%;
  --font-lg: 110%;
  --font-xl: 120%;
  --font-2xl: 130%;
  --font-3xl: 150%;
  --font-4xl: 200%;
  --font-5xl: 250%;
  --font-6xl: 300%;
  --font-7xl: 350%;
  --font-8xl: 400%;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 6rem;
  --spacing-4xl: 8rem;

  --line-height-header: 1.25;
  --line-height-body: 1.5;

  --border-radius: 0.25rem;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--color-bg-neutral);

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;

  --max-width: 750px;
  --banner-offset: 100px;
}

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Component */

/* Utility */
.wrapper {
  max-width: min(var(--max-width), 100%);
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.bg__white {
  background-color: hsla(var(--color-bg-white), var(--bg-alpha));
}

/* Block */
/* Banner */
.banner {
}
.offer__banner {
  background: linear-gradient(
    180deg,
    hsla(var(--color-bg-banner), var(--bg-alpha)) 10%,
    hsla(var(--color-bg-banner-secondary), var(--bg-alpha)),
    hsla(var(--color-bg-banner), var(--bg-alpha)) 90%
  );
  text-transform: uppercase;
  text-align: center;
  padding-block: 1rem;
  font-size: var(--font-2xl);
  font-family: var(--font-family-header);
  color: hsla(var(--color-text-invert), var(--text-alpha));
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.logo__banner {
  background-color: hsla(var(--color-bg-primary-light), var(--bg-alpha));
  padding-block: 0.25rem;
}
.logo__banner > div {
  justify-content: center;
}
#natural,
#phone {
  align-items: center;
  gap: 0.25rem;
}
#phone {
  text-decoration: none;
  color: hsla(var(--color-text-invert), var(--text-alpha));
}
/* Hero */
.hero {
  background-color: hsla(var(--color-bg-primary), var(--bg-alpha));
  color: hsla(var(--color-text-invert), var(--text-alpha));
  font: var(--font-family-body);
  padding-inline: var(--spacing-lg);
}
.hero .flex {
  flex-direction: column;
  max-width: 750px;
  padding: 0;
}
.hero h1 {
  font-size: var(--font-5xl);
  font-family: var(--font-family-body);
  text-align: center;
  margin: 2rem 0 1rem 0;
  text-transform: capitalize;
}
.hero .img__container {
  position: relative;
}
.hero .img__container img {
  border-radius: var(--border-radius);
}
.hero .img__container:nth-of-type(1) img {
  filter: grayscale(100%) sepia(01) hue-rotate(190deg) brightness(55%)
    saturate(150%) contrast(140%);
}
.hero .img__title {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-6xl);
  font-family: var(--font-family-special);
  text-transform: capitalize;
  font-style: italic;
  font-weight: var(--font-weight-light);
  line-height: 0.8;
  text-align: center;
  z-index: 10;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.hero .img__title > span {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}
.hero .hero__offer-badge {
  text-transform: capitalize;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 45%;
  left: 80%;
  transform: translateX(-50%);
  font-size: var(--font-lg);
  padding: 0.4rem;
  background-color: hsla(var(--color-bg-primary-dark), var(--bg-alpha));
  z-index: 20;
  border: 2px solid white;
  box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-family: var(--font-family-special);
  text-align: center;
}
.hero h4 {
  max-width: 750px;
  text-align: left;
  margin: 2rem 0 1rem 0;
  font-size: var(--font-2xl);
  font-weight: 300;
  font-family: var(--font-family-special);
}
.hero h4 > strong {
  font-weight: var(--font-weight-bold);
}

/* Forms */
/* Body Form */
.body__form {
  background-color: hsla(var(--color-bg-primary-light), var(--bg-alpha));
  padding-block: var(--spacing-sm);
}
.body__form > div:first-of-type {
  flex-direction: column;
}
.body__form h4 {
  color: hsla(var(--color-text-invert), var(--text-alpha));
  font-family: var(--font-family-special);
  font-weight: 200;
  font-size: var(--font-3xl);
  padding-inline: 0.75rem;
}
.body__form .klaviyo__form button {
  background-color: hsla(var(--color-bg-banner), var(--bg-alpha)) !important;
  box-shadow: var(--shadow-md);
}
.body__form .klaviyo__form button:hover {
  background-color: hsla(
    var(--color-bg-banner-secondary),
    var(--bg-alpha)
  ) !important;
}

/* Banner Form */
.banner__form {
  background-color: hsla(223, 65%, 35%, 0.9);
  display: none;
  z-index: 10;
}
.banner__form > div:first-of-type {
  justify-content: center;
}

.banner__form .klaviyo__form input {
  min-width: none;
}
.banner__form .klaviyo__form button {
  background-color: hsla(var(--color-bg-banner), var(--bg-alpha)) !important;
  box-shadow: var(--shadow-md);
}
.banner__form .klaviyo__form button:hover {
  background-color: hsla(
    var(--color-bg-banner-secondary),
    var(--bg-alpha)
  ) !important;
}

/* Features */
.features {
  background-color: hsla(var(--color-bg-primary), var(--bg-alpha));
  padding-block: var(--spacing-sm);
  color: hsla(var(--color-text-invert), var(--text-alpha));
  font-family: var(--font-family-special);
}
.features .flex {
  flex-direction: column;
  max-width: 750px;
  padding: 0;
  margin-top: 2rem;
}
.features h2 {
  font-size: var(--font-6xl);
  margin-bottom: 2rem;
  text-align: center;
}
.features p {
  font-size: var(--font-3xl);
  font-weight: 300;
  margin-bottom: 1rem;
  padding-inline: 0.75rem;
}
.features img {
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
}
.features .feature__img {
  filter: grayscale(100%) sepia(01) hue-rotate(190deg) brightness(60%)
    saturate(150%) contrast(180%);
}

/* Guide */
.guide {
  background-color: hsla(var(--color-bg-neutral));
}
.guide > .flex {
  flex-direction: column;
  max-width: 750px;
  padding: 2rem 0;
  margin: 0 auto;
  gap: 2rem;
}
.guide .header__emphasis {
  border-top: 3px solid hsla(var(--color-bg-primary), var(--bg-alpha));
  border-bottom: 3px solid hsla(var(--color-bg-primary), var(--bg-alpha));
  padding-block: 2rem;
  text-align: center;
  font-family: var(--font-family-special);
  font-weight: 500;
  font-size: var(--font-5xl);
  font-style: italic;
}
.guide ul {
  list-style: none;
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.guide ul li {
}
.guide h3 {
  font-size: var(--font-4xl);
  font-family: var(--font-family-special);
  font-weight: 600;
  margin-block: 1rem;
  text-align: center;
}
.guide p {
  font-size: var(--font-3xl);
  font-family: var(--font-family-special);
  font-weight: 400;
  margin-block: 0.5rem;
}
.guide .science .flex,
.guide .convenience .flex,
.guide .ingredients .flex,
.guide .quality > .flex,
.guide .sample > .flex {
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: var(--border-radius);
}
.guide .science img,
.guide .convenience img,
.guide .ingredients img {
  border-radius: var(--border-radius);
}
.guide .quality h2,
.guide .sample h2 {
  font-size: var(--font-4xl);
  font-family: var(--font-family-special);
  font-weight: 600;
  margin-block: 1rem;
  text-align: center;
}
.guide .quality ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  font-family: var(--font-family-special);
  font-size: var(--font-2xl);
}
.guide .quality ul li {
  gap: 0.25rem;
  align-items: center;
}
.guide .quality ul li img {
  max-width: 32px;
  height: auto;
}

/* Authority */
.authority {
  background: linear-gradient(
    hsla(var(--color-bg-banner), var(--bg-alpha)) 0%,
    hsla(var(--color-bg-banner-secondary), var(--bg-alpha)) 75%,
    hsla(var(--color-bg-banner), var(--bg-alpha)) 100%
  );
  color: hsla(var(--color-text-invert), var(--text-alpha));
  font-family: var(--font-family-special);
  padding-inline: 0.75rem;
}
.authority .flex {
  flex-direction: column;
  max-width: 750px;
  padding: 2rem 5px;
  margin: 0 auto;
  gap: 2rem;
}
.authority .auth__left {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.authority .auth__right {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.authority h2 {
  font-size: var(--font-5xl);
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.authority h2 span {
  font-weight: var(--font-weight-normal);
  font-style: italic;
}
.authority p {
  font-size: var(--font-3xl);
}
.authority img {
  max-width: min(500px, 100%);
  margin: 0 auto;
  border: solid var(--border-width) hsla(var(--color-bg-white), var(--bg-alpha));
  border-radius: 50%;
  box-shadow: var(--shadow-lg);
}
.authority ul {
  list-style-type: disc;
}
.authority ul li {
  font-size: var(--font-3xl);
}
.auth__name {
  max-width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.auth__subtitle {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  line-height: 0.85;
}
.auth__subtitle small {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-light);
}

/* Reviews */
.reviews {
  background: hsla(var(--color-bg-primary), var(--bg-alpha));
  color: hsla(var(--color-text-invert), var(--text-alpha));
  font-family: var(--font-family-special);
}
.reviews > .flex {
  flex-direction: column;
  max-width: 750px;
  padding: 2rem 0;
  margin: 0 auto;
  gap: 2rem;
}
.reviews h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: var(--font-6xl);
}
.reviews .review__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 0.75rem;
}
.reviews .review__card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.reviews .review__img {
  flex-shrink: 0;
  transform: translateY(1.5rem);
}
.reviews .review__img i {
  font-size: var(--font-5xl);
}
.reviews .review__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.reviews .review__author {
  font-size: var(--font-lg);
  font-weight: 300;
  font-style: italic;
}
.reviews .star__container {
  display: flex;
  gap: 0.5rem;
}
.reviews .star__container i {
  color: hsla(var(--color-star), 1);
}

/* Offer */
.offer {
  background: hsla(var(--color-bg-primary-light), var(--bg-alpha));
  color: hsla(var(--color-text-invert), var(--text-alpha));
  font-family: var(--font-family-special);
}
.offer > .flex {
  flex-direction: column;
  max-width: 750px;
  padding: 2rem 0;
  margin: 0 auto;
  gap: 2rem;
}
.offer .terms__links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-inline: 0.75rem;
  margin-inline: auto;
}
.offer .terms__links a {
  font-size: var(--font-3xl);
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
  color: hsla(var(--color-text-invert), var(--text-alpha));
}
.offer .terms__links a:hover {
  --text-alpha: 0.75;
  color: hsla(var(--color-text-invert), var(--text-alpha));
}
.offer .terms__links .vertical__break {
  border-left: 1px solid hsla(var(--color-text-invert), var(--text-alpha));
  height: 2rem;
  align-self: center;
}
.offer .offer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-inline: 0.75rem;
  margin-top: 0;
}
.offer h3 {
  font-size: var(--font-4xl);
  font-weight: 400;
  text-align: center;
  background: linear-gradient(
    90deg,
    hsla(var(--color-bg-banner), var(--bg-alpha)),
    hsla(var(--color-bg-banner-secondary), var(--bg-alpha)) 85%
  );
  border-radius: var(--border-radius);
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
  padding-block: 1rem;
}

.offer .offer__body {
  background-color: hsla(var(--color-bg-primary), var(--bg-alpha));
  border-radius: var(--border-radius);
  padding: 2rem;
  font-size: var(--font-3xl);
}
.offer .offer__body .offer__img img {
  margin: 2rem auto;
  border-radius: var(--border-radius);
}
.offer .offer__body .offer__benefits {
  margin-block: 1rem;
  list-style-type: disc;
}

/* Footer */
footer {
  background-color: hsla(var(--color-bg-primary), var(--bg-alpha));
  color: hsla(var(--color-text-invert), var(--text-alpha));
  font-family: var(--font-family-special);
  padding-block: var(--spacing-sm);
  padding-bottom: var(--banner-offset);
}
footer .flex {
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
  gap: .5rem;
  text-align: center;
}
footer .footer__phone{
  color: hsla(var(--color-bg-primary-light), var(--bg-alpha));
}
footer .footer__fda {
  border: 1px solid hsla(var(--color-bg-primary-light), var(--bg-alpha));
  padding: .5rem;
}

/* Exception */
.visible {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.desktop-only {
  display: none;
}
.mobile-only {
  display: block;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }

  .hero .hero__offer-badge {
    text-transform: capitalize;
    position: absolute;
    height: 172px;
    width: 172px;
    top: 28%;
    left: 65%;
    transform: translateX(-50%);
    font-size: var(--font-3xl);
    padding: 2rem;
    background-color: hsla(var(--color-bg-primary-dark), var(--bg-alpha));
    z-index: 20;
    border: 2px solid white;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    font-family: var(--font-family-special);
    text-align: center;
  }
  .logo__banner > div {
    justify-content: space-between;
  }
  .logo__banner > div > div.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: hsla(var(--color-text-invert), var(--text-alpha));
    text-transform: capitalize;
    font-family: var(--font-family-special);
  }
  .logo__banner > div > div.flex > div {
    gap: 0.25rem;
  }
  .banner__form .klaviyo__form input {
    min-width: 400px !important;
  }
}
